html{
    user-select: none;
}
body{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(66,96,77,1) 50%, rgba(0,166,61,1) 100%);
    color: #ccc8db;
}
.tge_container{
    height: 100vh; 
    background-color: #151728; 
    max-width: 1600px;
    border-radius: 25px;
    overflow: hidden;
}

.Overflow-tge{
    height: 605px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  

  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.01);
  }
  

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.1);
  }

.nav-link, .nav-link:hover{
    z-index: 2;
    padding: 20px 16px;
    color: #9fa0aa;
    transition: 0.3s;
    cursor: pointer;
    border-bottom: 3px solid #184b00;
}
.nav-tabs .nav-item .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    z-index: 2;
    background-color: #1b1d2e;
    color: #94959c;
    border-color: #00000000;
    border-bottom: 3px solid #184b00;
}
.nav-tabs{
    z-index: 2;  
}

/* Profile Region */
.profile {
    position: relative;
    height: 40vh;
    min-height: 250px;
    max-height: 350px;
    z-index: 1;
}
.profile-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
  }
.profile:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background-image: url("https://i.imgur.com/aSzPWfq.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    opacity: 0.7;
}
.profile-avatar {
    position: absolute;
    align-items: center;
    display: flex;
    z-index: 1;
    bottom: 16px;
    left: 24px;
}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #151728;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(66,96,77,1) 25%, rgba(0,166,61,1) 100%);
}
.profile-name {
    margin-left: 24px;
    margin-bottom: 24px;
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
}
.profile-menu {
    position: absolute;
    left: 0px;
    bottom: 0;
    padding-left: 200px;
    background: #151728;
    width: 100%;
    display: flex;
    border-radius: 0 0 4px 4px;
}

.pages {
    margin-top: 20px;
    padding: 20px;
  }
.box {
    background-color: #06070c;
    border-radius: 4px;
}
.user + .user {
    margin-top: 18px;
}
.box .user-img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    object-fit: cover;
    object-position: center;
}
.status-action, .status-action:hover {
    text-decoration: none;
    color: #ccc8db;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.intro-title {
    color: #5c5e6e;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.album-photo{
    width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  margin-top: 10px;
}